# Ignorar arquivos e diretórios específicos do Visual Studio Code
.vscode/
.settings/
.history/
*.code-workspace

# Ignorar arquivos e diretórios gerados durante o desenvolvimento
node_modules/
dist/
out/
wp-app/
